.product_container_show{
    padding-top: 15px;
}
#leftNavContainer{
    border:1px solid #ddd;
    padding: 0 6px 20px 10px;
    width: 210px;
    border-radius: 4px;
}
.category_list_details{
    margin-left: 10px;
}
.s-ref-spacing-top-small{
    margin-top: 3px;
}
.a-icon-extender-expand {
    width: 7px;
    height: 9px;
    background-position: -82px -293px;
    vertical-align: baseline;
    margin-right: .385em;
}
.results-list-show li{
    float: left;
    margin:0 0 12px 12px;
    border: 1px solid #eee;
    box-shadow: 1px 1px 3px 0 #f2f2f2;
    background-image: linear-gradient(to top,#fafafa 0,#fdfdfd 20%,#fff 60%);
    height: 384px;
}
.results-list-show li .s-item-container{
    padding: 20px;
}
.results-list-show li .product_img_box{
    height: 200px;
    width: 100%;
    text-align: center;
}
