.clearable{
	height: 38px;
	padding: 6px 2.5% 0;
    border-bottom: 1px solid #ccc;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/rainier/nav/ResponsiveNavSprite8._V360661208_.png);
    background-position: -9999px -9999px;
    background-repeat: no-repeat;
    background-color: #f3f3f3;
    font-size: 12px;
    min-width: 300px;
    z-index: 100;
    height: 45px;
}    
#sc-logo-top img{
	width:165px;
	height:34px;
	}
#sc_logo_top_image.sc-unified {
    padding-top: 6px;
}
#sc-navtabs{
	overflow:hidden;
	height: 38px;
	float:left;
	width:355px ;
}
#sc-snes {
    float: left;
    position: relative;
    z-index: 102;
    height: 38px;
    margin: 0 12px -1px 3px;
}
#sc-navtabs>ul{
	overflow:hidden;
	float:left;
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    }
@font-face {
  font-family: 'iconfont';  /* project id 715211 */
  src: url('//at.alicdn.com/t/font_715211_9quj7rrovbb.eot');
  src: url('//at.alicdn.com/t/font_715211_9quj7rrovbb.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_715211_9quj7rrovbb.woff') format('woff'),
  url('//at.alicdn.com/t/font_715211_9quj7rrovbb.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_715211_9quj7rrovbb.svg#iconfont') format('svg');
}
#sc-navtabs>ul:hover{
	float:left;
} 
#sc-navtabs>ul>li{
	float:left;
}
.sc-sub-nav {
	display:none;
}
#sc-masthead * {
    font-family: Arial,Helvetica,sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#sc-logo-top{
	    height: 38px;
    margin-bottom: -1px;
        font-size: 12px;
        float:left;
}
#sc-top-nav-root {
    font-size: 12px;
    list-style: none;
    /*width: 337px;*/
    margin: 0;
    padding: 0;
    
}
.sc-level1 .sc-tab-a {
    display: inline-block;
    padding: 17px 0 18px;
    text-decoration: none;
    font-weight: bold;
    color: #5c5c5c !important;
    line-height: 1px;
    position: relative;
    height: 1px;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
}
.sc-level1 {
    position: relative;
    float: left;
    display: block;
    padding: 0 20px 0 0;
    margin: 0 1px 0 0;
    z-index: 101;
    font-size: 13px;
}

/*卖家消息*/

#right_nav {
    float: right;
    color: #777;
    position: relative;
    z-index: 102;
    
}
#sc-quicklinks {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sc-quicklink {
    position: relative;
    float: left;
    display: block;
    padding: 0 0 0 5px;
    margin: 0;
}
.sc-quick-txt {
    border-right: 1px solid #999;
    padding-right: 5px;
}
#nav_right{
	width: 60%;
	height: 100%;
	max-width: 700px;
	float:right;
}
.pd05{
	padding:0 5px;
}
.pd010{
	padding:0 10px;
}
.pd50{
	padding:5px 0;
}
.pd100{
	padding:10px 0;
}
.nav_right_opt{
	float:left;
	height:100%;
	line-height: 45px;
}
.nav_right_opt select{
	border:none;
	height: 24px;
	/*line-height: 45px;*/
	margin-top: -9px;
	vertical-align: middle;
}
#selectzg{
	width: 180px;
	border:1px solid #666;
	border-radius: 2px;
}
#selectlang{
	width: 83px;
	border:1px solid #666;
	border-radius: 2px;
}
.line-height_40{
	line-height:40px;
}
.nav_right_opt img{
	vertical-align: middle;
}
/*搜索*/
#sc-global-search-form {
    margin-top:6px;
}
#sc-global-search-form>input{
	width:163px;
	outline:medium;
	float:left;
	height:24px !important;
	
}
#sc-global-search-form>input:focus{
	outline: none;
    border-color: transparent;  
    box-shadow:none;
	background:#77bc1f;
	color:#fff;
}
#sc-global-search-form>div{
	height:24px;
	width:26px;
	float:left;
	border-radius: 1px;
	background-image: linear-gradient(rgb(224, 224, 224) 0px, rgb(198, 198, 198) 100%);
}
#sc-global-search-form>div>img{
	width: 100%;
	display: block;
	overflow:hidden;
}
.sc-quicklink {
    position: relative;
    float: left;
    line-height: 40px;
    display: block;
    padding: 0 0 0 5px;
    margin: 0;
}
.sc-quicklink .sc-ql-a {
    display: inline-block;
    padding: 17px 0 18px;
    line-height: 1px;
    position: relative;
    height: 1px;
    text-decoration: none;
    font-weight: bold;
    color: #5c5c5c;
}