body{
    font-size: 13px;
    line-height: 19px;
    color: #111;
    font-family: "Hiragino Sans GB","Microsoft Yahei",Arial,sans-serif;
}
.text-bold{
    font-weight: 700!important;
}
a{
    color: #0066c0;
}
.clear_both:after{
    content:"";
    height: 0;
    display: block;
    clear: both;
}
.mainBlockWidth{
    width: 1216px;
    margin-left: 2.5%;
}
.size-extra-large{
    font-size: 28px;
    line-height: 1.2;
}
.spacing-top-large{
    margin-top: 22px;
}
.ad{
    display:block;
    width: 350px;
}
.div-gpt-ad{
    margin-top: 10px;
    margin-right: 65px;
}
.mainImg{
    width: 350px;
    height: 45px;
    background: url(../img/V497388467_.png);
}
.sellercentral{
    color: grey;
    font-size: 12px;
    text-align: right;
}
.tutorialDefault{
    height: 30px;
    border-bottom:1px solid #aaa;
    margin-bottom: 20px;
}
.leftBlockWidth{
    width: 906px;
}
.ReleaseNew{
    padding: 14px 18px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 18px;
}
.product-heading{
    margin-bottom: 10px;
}
.color-secondary{
    color:#555;
    margin-bottom: 6px;
}
.searchInputWidth{
    width: 300px;
    position: relative;
    display:inline-block;
    vertical-align: middle;
}
.icon-search {
    width: 13px;
    height: 13px;
    background-position: -271px -86px;
    opacity: .55;
    position:absolute;
    top: 50%;
    margin-top: -7px;
    left: 10px;
}
#product-search{
    padding-left: 29px;
}
.product-search-button{
    display:inline-block;
}
.button{
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    line-height: 29px;
    padding:0 10px;
    border-radius: 3px;
}
.button-search{
    background: linear-gradient(to bottom,#72787f,#444c55);
    border-color: #3d444c #2f353b #2c3137;
    color: #fff;
    transition: all 100ms linear;
}
.button-search:hover{
    background: linear-gradient(to bottom,#666b72,#393f47);
    border-color: #32373e #24282d #212429;
}
#search{
    margin-bottom: 26px;
    display:inline-block;
}
.a-spacing-top-small {
    margin-top: 10px!important;
}
.a-spacing-bottom-small {
    margin-bottom: 10px!important;
}
.rightBlockWidth {
    width: 288px;
}
.a-size-large{
    font-size: 21px!important;
    line-height: 1.3!important;
}
.widget-action-item,.Suppressed_errors{
    display:block;
    background: #e6f0fa;
    border-radius: 3px;
    padding: 6px 10px;
    font-size: 17px;
    line-height: 1.255;
    margin-bottom: 6px;
}
.Suppressed_errors{
    background: #fff;
    color:#555;
    font-size: 13px;
}
.error_listings_count{
    color: #d00;font-weight: 700;
}
.Draft_listings_count{
    font-weight: 700;
}
.widget-action-item:hover{
    text-decoration: none;
    background: linen;
}
.draft{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
.text-center{
    text-align: center;
}
.search_left{
    width: 250px;
}
.search_reault_box,.search_result_show{
    margin-bottom: 18px;
}
.search_head,.not_find_head,.page_show{
    border-radius: 4px 4px 0 0;
    background-color: #f3f3f3;
    border: 1px #ddd solid;
}
.a-search_innner{
    padding: 14px 18px;
}
.page_show{
    background: linear-gradient(to bottom,#f8f8f8,#eee);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset;
}
.page_show .a-search_innner{
    padding: 12px 18px 11px;
}
.page_show_bottom{
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
}
.search_right{
    width: 642px;
}
.search_all_classify,.not_find_tip{
    border-radius: 0 0 4px 4px;
    background-color: #f6f6f6;
    border: 1px #ddd solid;
    border-top:0;
}
.not_find_tip{
    background: #fff;
}
.medium_class{
    color: #c45500;
    font-weight: 400;
}
.h3{
    padding-bottom: 4px;
}
.classify_list li{
    line-height: 1.8;
}
.item_num{
    color: #767676;
}
#create_a_new_product-announce{
    padding: 6px 10px;
}
.a-pagination{
    display:inline-block;
    text-align: right;
}
.a-pagination li{
    float: left;
    line-height: 16px;
    margin-right: 4px;
}
.a-pagination li a{
    display:block;
    padding:0 5px;
    border-radius: 3px;
}
ul.a-pagination li a:hover {
    background: #e0e3e8;
    background: -webkit-linear-gradient(top,#e7eaf0,#d9dce1);
    background: linear-gradient(to bottom,#e7eaf0,#d9dce1);
    border-color: #a2a6ac #979aa1 #82858a;
    color: #0066c0;
    text-decoration: none;
}
.selected_page{
    font-weight: 700;
}
.product_list,.a-box{
    border: 1px #ddd solid;
    background-color: #fff;
    margin-top: -1px;
}
.product_img{
    width: 75px;
    min-height: 75px;
}
.product_img img{
    max-width: 100%;
}
.product_details_right{
    padding-left: 3.5%;
}
.product-description{
    width: 341px;
    margin-right: 3.5%;
}
.product-description span{
    display:block;
}
.offerCountDetails li{
    display:inline-block;
}
.limitations-heading{
    text-align: right;
}
.a-icon-extender-expand{
    width: 7px;
    height: 9px;
    background-position: -82px -293px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 1px;
}
.a-icon-extender-drop{
    background-position: -94px -293px;
}
.listing-limitations-box{
    margin-top: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
}
.condition{
    padding-right: 168px;
}
.unordered-list{
    margin-top: 12px;
    margin-left: 18px;
    color: #949494;
    width: 100%;
}
.unordered-list li{
    list-style: disc;
}
.unordered-list li .text-bold,.text-explain{
    color:#111;
}
.button-container{
    width: 150px;
    margin-right: -168px;
    float: left;
}
.button-container .primaryAUIButton{
    width: 100%;
    margin-top: 10px;
    padding:5px 10px;
    margin-bottom: 22px;
}
.listing-limitations-divider{
    height:13px;
    border-top: 1px solid #e7e7e7;
    background-color: transparent;
}
.variant_button .variant_show{
    width: 150px;padding: 5px 10px;
    margin-top: 22px;margin-bottom: 6px;
}
.what_this{
    text-align: center;
    width: 150px;
}
.product-loading{
    height: 25px;
    padding: 0 50%;
    background: url(../img/loading-1x.gif) 50% 50% no-repeat;
}