.message-container{
	width: 100%;
	padding-left: 332px;
}
.filter-condition{
	width: 332px;
	margin-left: -100%;
	border: 1px solid #e5e5e5;
	position: relative;
	top: 0px;
	float: left;
	margin-bottom: 20px;
}
.filter-condition h4{
	font-weight: bold;
	margin: 0px;
}
.filter-condition .title{
	background: #f0f0f0;
	background: -moz-linear-gradient(top, #f6f6f6, #ededed);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6), color-stop(100%, #ededed));
    background: -webkit-linear-gradient(top, #f6f6f6, #ededed);
    background: -o-linear-gradient(top, #f6f6f6, #ededed);
    background: -ms-linear-gradient(top, #f6f6f6, #ededed);
    background: linear-gradient(top, #f6f6f6, #ededed);
	padding:12px;
	border-bottom: 1px solid #e5e5e5;
}
.filter-condition ul{
	margin-bottom: 0px;
}
.filter-condition ul li{
	padding:8px 12px;
	border-bottom: 1px solid #e5e5e5;
}.filter-condition ul li:last-child{
	border: none;
}
.filter-condition ul li:nth-child(even){
	background: #f5f5f5;
}
.filter-condition ul li a{
	font-size: 14px;
	font-weight: bold;
}
.message-container{
	width: 100%;
	float: left;
}
.message-container .message-wrap .content-header{
	padding: 12px;
	background: #f1f1f1;
	border: 1px solid #e5e5e5;
	text-align: center;
}
.message-container .message-wrap .content-header .all-message{
	font-size: 14px;
	font-weight: bold;
	float: left;
}
.message-container .message-wrap .content-header .all-message i{
	color: #666;
}
.message-container .message-wrap .content-header p{
	display: inline-block;
	margin-bottom: 0px;
	position: relative;
	padding-left: 34px;
}
.message-container .message-wrap .content-header p a{
	font-weight: bold;
}
.a-icon-alert {
    height: 27px;
    width: 30px;
    vertical-align: middle;
    margin-top: -6px;
}
.message-container .message-wrap .content-header p .a-icon-alert {
    background-position: -350px -35px;
}

.search-container,
.all-message-content .message{
	margin: 20px;
}
.all-message-content .message{
	margin-top: 30px;
}
.search-container input{
	width: 300px;
}
.search-container button{
	height: 31px;
	margin-left: -2px;
	padding: 0px 8px;
}

.all-message-content .message li{
	border-bottom: 1px dashed #ddd;
	margin: 20px 0px;
}
.all-message-content .message li .content{
	margin-bottom: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	cursor: pointer;
	width: 70%;
}
.all-message-content .message li .content:hover{
	color: #e47911;
}
.all-message-content .message li  .order-no{
	font-size: 16px;
	font-weight: bold;
}
.all-message-content .message li .time{
	color: #999;
}

div.a-pagination{
	margin: 40px auto;	
	text-align: center;
}
/*分页*/
ul.a-pagination{
	display: inline-block;
}
ul.a-pagination li {
    float: left;
    background-color: white;
    margin-right: 4px;
    line-height: 16px;
}

ul.a-pagination li a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ddd;
    background-color: white;
    -webkit-box-shadow: 0 1px 0 white inset;
    -moz-box-shadow: 0 1px 0 white inset;
    box-shadow: 0 1px 0 white inset;
    display: block;
    padding: 8px 12px 7px 13px;
    text-decoration: none;
}
 
.a-letter-space {
    display: inline-block;
    width: .4em;
}
ul.a-pagination li.a-disabled a{
    color: #aaa;
    border: 1px solid transparent;
    cursor: text;
}
ul.a-pagination li.a-selected a{
	border-color: #e47911;
    color: #e47911;
    font-weight: bold;
}
.a-button {
    background: #e7e9ec;
    border-radius: 3px;
    border-color: #ADB1B8 #A2A6AC #8D9096;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    text-align: center;
    text-decoration: none!important;
    vertical-align: middle;
}
.modal-footer button{
    height: 29px;
    padding: 0px 10px;
    margin-left: 8px;
}
.a-button-primary {
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
.a-button.a-button-focus, .a-button:focus, .a-button:hover {
    outline: 0;
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
}
