.notification-preferences-container {
    max-width: 960px;
    min-width: 740px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}
table {
    border-collapse: collapse;
}

table,
tr,
th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 6px 10px;
}