body {
    font: 13px/1.231 Verdana,arial,helvetica,clean,sans-serif;
}
.ap_pagelet {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}
.ap_pagelet_title {
    text-align: left;
    margin-bottom: 4px;
}
.ap_cnep_header{
    color: #E47911;
    font-size: 120%;
    font-weight: bold;

}
.ap_cnep_subtitle {
    margin-bottom: 5px;
}
.ap_form_wrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    min-width: 510px;
}
.ap_form_wrapper table {
    display: block;
    margin: auto;
    width: 500px;
}
.ap_form_table td[colspan="2"] {
    padding-top: 4px;
}
.ap_section_title {
    height: auto;
    margin-bottom: 2px;
}
h2 {
    font-size: 110% !important;
    font-weight: bold;
    color: #E47911;
}
.ap_input_label {
    display: inline-block;
    margin-right: 4px;
    font-weight: bold;
    text-align: right;
    min-width: 180px;
}
.ap_form_table input, .ap_form_table select, .ap_form_table span.in-amzn-btn {
    margin: 5px 2px;
}
span.btn-prim-med {
    padding: 0 0 0 7px !important;
    background-position: left -448px;
    height: 26px;
}
span.in-amzn-btn {
    color: #006!important;
}

span.in-amzn-btn, span.in-amzn-btn-disabled {
    max-width: 280px;
    display: inline-block;
}
span.btn-prim-med span {
    background-position: right -100px;
    height: 26px;
    display: inline-block;
    zoom: 1;
    max-width: 280px;
}
span.btn-prim-med span input {
    padding: 0 9px 0 10px !important;
    margin: 0 0 0 -7px;
    position: relative;
    float: left;
}
span.in-amzn-btn input {
    color: #006!important;
    cursor: pointer;
    line-height: 26px;
}
span.in-amzn-btn input, span.in-amzn-btn-disabled input {
    border: 0;
    margin: 0;
    padding: 0;
    background: 0;
    font-family: arial,sans-serif;
    outline-width: 0;
    outline: 0;
}