.popover{
    position:absolute;
    width: 285px;
    background: #fff;
    border: 1px solid #a6a6a6;
    padding: 18px;
    border-radius: 5px;
    z-index: 9999;
    padding-top: 20px;
    display:none;
    font-weight: normal;
}
.transparent{
    width: 100%;
    height: 22px;
    background: transparent;
    position:absolute;
    bottom: -22px;left: 0;
}
.popover:after,.popover:before{
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    left:50%;
    margin-left: -8px;
    content: " ";
    border-width: 8px;
    border-bottom-width: 0;
}
.popover:before{
    border-color: rgba(166,166,166,0);
    border-top-color: #a6a6a6;
    bottom: -9px;
}
.popover:after{
    border-color: rgba(255,255,255,0);
    border-top-color: #fff;
    bottom: -8px;
}
.showCloseIcon{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    cursor: pointer;
}
.a-icon-close{
    width: 10px;
    height: 9px;
    background-position: -297px -5px;
    opacity: .64;
    filter: alpha(opacity=64);
}