body{
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 12px;
    background: #fff;
    color: #000;
}
.header{
    width: 1060px;
    padding: 20px 0;
    margin: 0 auto;
}
.header .logo{
    display: inline-block;
}
.container{
     width: 1060px;
     margin: 0 auto;
}
.nav_tab{
    background: -webkit-linear-gradient(top, #f8f8f8, #eeeeee);
    background: -o-linear-gradient(top, #f8f8f8, #eeeeee);
    background: -ms-linear-gradient(top, #f8f8f8, #eeeeee);
    background: -moz-linear-gradient(top, #f8f8f8, #eeeeee);
    box-shadow: 0 1px 0px rgba(255, 255, 255, 0.5) inset;
    border: 1px solid #dddddd;
}
.tab{
    text-decoration: none;
    line-height: 2;
    padding: 2px 17px 0px 18px;
    border: 1px solid transparent;
    border-bottom: 0;
    float: left;
    margin-bottom: -1px;
    margin-top: -1px;
    color: #004b91;
    cursor: pointer;
}
.notification-required .icon{
    background-image: url(../img/AmazonUIBaseCSS-sprite_1x-28bd59af93d9b1c745bb0aca4de58763b54df7cf._V2_.png);
    background-position: -249px -30px;
    display: inline-block;
    width: 28px;
    height: 31px;
    position:relative;
    top: 6px;
    opacity: .4;
}
.tab .text{
    display:inline-block;
    line-height: 52px;
}
.tab.active{
    border-color: #dddddd;
    background: #fff;
    border-top-color: #e47911;
    font-weight: bold;
    border-left: none;
    color: #e47911;
}
.active .icon{
    opacity:1;
}
.tab:hover{
    border-top-color: #e47911;
    color: #e47911;
}